GOOGLE_APPS_SCRIPT_URL=https://script.google.com/a/macros/fisia.com.br/s/AKfycbydZDM4GBE2ZKQpV7fezEFpmJQ_hT84SyRhg9mvgLRuPUq_2eRa6JLAx3zA1wDkX8gp/exec
GOOGLE_SYNC_SECRET=defina-uma-chave-secreta-local
